header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    background-color: #292643;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-inside {
    border-color: #44426e;
    border-style: solid;
    border-radius: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    border-width: 1px;
    min-width: 360px;
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
    padding-left: 0;
}

.nav-link, .nav-item {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.nav-item:hover {
    background-color: #514d92;
    border-radius: 10px;
    transition: 100ms;
}

.nav-item {
    padding: 3px;
}

.nav-link {
    margin: 10px;
}

@media (min-width: 0px) and (max-width: 365px) {

    header {
        display: none;
    }
    
    .navbar {
        display: none;
    }
    
    .navbar-inside {
        display: none;
    }
    
    .navbar-ul {
        display: none;
    }
    
    .nav-link, .nav-item {
        display: none;
    }
    
    .nav-item:hover {
        display: none;
    }
    
    .nav-item {
        display: none;
    }
    
    .nav-link {
        display: none;
    }

}