.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}


.projects-text {
    color: white;
    font-size: 45px;
    justify-content: center;
    margin-bottom: 15px;
}

.projects-container {
    max-width: 85vw;
    display: block;
    padding: 20px;
    border-radius: 20px;
}

.project-item {
    display: flex;
    background-color: #44426e;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    height: 22vh;
}

.project-item:hover {
    background-color: #514d92;
    border-style: solid;
    border-color: rgb(0, 197, 197);
    padding: 19px;
    border-width: 1px;
    transition: 50ms;
}


.project-image {
    width: 20%;
    height: 100%;
    border-radius: 20px;
}

.project-text {
    margin-left: 30px;
}

.project-title {
    color: #e99e75;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.project-description {
    color: white;
    margin-bottom: 15px;
    font-size: 25px;
}

.project-details {
    color: white;
    font-size: 20px;
}


@media (max-width: 1850px) {
    .project-item {
        height: 100%;
    }

    .project-image {
        width: 0;
        height: 0;
    }


}




/* @media (min-width: 0px) and (max-width: 680px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
} */